.othersCard {
  height: 300px;
  width: 300px;
  background-color: #112240;
  padding: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.CiFolderOn {
  height: 36px;
  width: 36px;
}

.othersCard h3 {
  font-size: 14px;
  font-weight: bold;
}

.othersCard p {
  font-size: 16px;
  color: #A1ABCA;
}

.tech-tags p {
  display: inline-block;
  margin-top: 40px;
  color: #54D6BB;
}

.tech-tags p:nth-child(2) {
  margin-left: 10px;
}

@media (max-width: 480px) {
  .othersCard {
    width: 360px;
  }
}