.hero-page {
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 80px;
}

.name-title, .job-title {
  margin-bottom: 20px;
}

.job-title {
  color: #8892B0;
}

.name-title {
  font-size: 64px;
  font-weight: bold;
}

.social-media a:nth-child(2) {
  margin-left: 20px;
}