section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.name-title, .job-title {
  margin: 0 80px 20px 80px;
}

.job-title {
  color: #8892B0;
}

.name-title {
  font-size: 64px;
  font-weight: bold;
}

.social-media {
  margin: 0 80px;
}

.social-media a:nth-child(2) {
  margin-left: 20px;
}