.about {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 150px;
}

.about-text {
  width: 50%;
  margin-top: 40px;
}

.about-text p {
  color: #8892B0;
}

.about-text li {
  list-style: disc;
  list-style-position: inside;
  color: #54D6BB;
  margin: 2px;
}

.profile-container {
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  /* margin-top: 40px; */
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.styled-border {
  height: 200px;
  width: 200px;
  border-color: #54D6BB !important;
  border-style: solid !important;
}