.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px
}

.container-img {
  height: 200px;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.container-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-description {
  display: flex;
  align-items: center;
}

.project-info {
  /* width: 600px; */
  margin-left: 20px;
}

.project-info a:nth-child(3) {
  margin-left: 12px;
}

.icons a {
  text-decoration: none;
  color: #fff
}

.github, .external-link {
  height: 24px;
  width: 24px;
}

.external-link {
  margin-left: 20px;
}

.tecnology {
  margin-top: 10px;
}

.tecnology p {
  display: inline;
  color: #54D6BB;
}

.tecnology p:nth-child(2) {
  margin: 12px;
}

@media (max-width: 480px) {
  .card {
    height: 450px;
    width: 312px;
  }

  .card h3 {
    font-size: 16px;
    text-align: center;
  }

  .project-description {
    flex-direction: column;
  }

  .container-img {
    height: 200px;
    width: 328px;
  }

  .project-info {
    text-align: center;
    margin-left: 0;
  }

  .external-link {
    margin: 0;
  }
}